<mat-toolbar class="toolbar">
  <button routerLink="/home" matIconButton >
    <mat-icon>home</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button routerLink="/list" matIconButton>
    <mat-icon>list</mat-icon>
  </button>
  <button matIconButton (click)="switchMode()">
    @if (isDarkMode) {
      <mat-icon>light_mode</mat-icon>
    } @else {
      <mat-icon>dark_mode</mat-icon>
    }
  </button>
  <button matIconButton (click)="switchPalette()">
    <mat-icon>palette</mat-icon>
  </button>
</mat-toolbar>

